<%= stylesheet_link_tag :pages, media: "all" %>

<div class="hero">
  <h1>SF Open Referral</h1>

</div>

<div class="overview">
  <div class="row">
    <div>
      <h3>Lorem</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ea asperiores impedit cum distinctio quidem! Reprehenderit qui vel fugiat et autem incidunt, ut ea molestias libero. Obcaecati odit iure dolor.</p>
    </div>
    <div>
      <h3>Lorem</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sequi at ad, eveniet dignissimos voluptatem animi quasi excepturi reiciendis, error libero nobis maxime rerum, consectetur provident id, distinctio ipsam voluptas!</p>
    </div>
    <div>
      <h3>Lorem</h3>
      <p>Praesentium vero fugit ipsam vitae tenetur sunt deserunt repellendus totam obcaecati animi odit placeat ullam hic, pariatur sequi minus ipsa eaque fugiat? Odio quis error, perspiciatis nisi rerum repellendus neque.</p>
    </div>
    <div>
      <h3>Lorem</h3>
      <p>Excepturi assumenda rem aspernatur placeat beatae consequuntur adipisci officia nihil blanditiis, minima, dolores id, omnis quidem sint et illum ab mollitia quisquam corporis libero qui eveniet. Sint perferendis neque assumenda!</p>
    </div>    
  </div>
</div>

