$actions-height: 3 * $base-spacing;

.organization {
  &-search {
    @include fill-parent;
    height: $actions-height;
  }

  &-list {
    margin-bottom: $base-spacing * 2;
  }

  &-actions {
    @include fill-parent;
    height: $actions-height;
    text-align: right;

    a {
      @include button;
    }

    form,
    select {
      display: inline-block;
    }
  }
}

.button {
  @include button;
}
