$actions-height: 3 * $base-spacing;

.organization {
  &-details {
    .section {
      border-top: $base-border;
      margin-top: $base-spacing;
      padding-top: $base-spacing / 2;

      &.location {
        border: $base-border;
        padding: $base-spacing / 2;
      }
    }

    .subsection {
      margin-top: $base-spacing;
    }

    .column {
      @include span-columns(4.5 of 9);

      &:last-child {
        @include omega;
      }
    }

    .map {
      @include fill-parent;
      height: 20em;
      margin-bottom: $base-spacing;
    }
  }

  &-modal {
    @include padding($base-spacing);
    background-color: $white;
    box-shadow: 0 0 6px rgba($black, 0.3);
    left: 0;
    margin: $base-spacing*2 $base-spacing*4;
    position: absolute;
    right: 0;
  }

  &-listing {
    $listing-height: 2 * $base-spacing;
    padding: $base-spacing/2 0;
    position: relative;

    &:not(:last-child) {
      border-bottom: $base-border;
    }

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  &-invalid {
    &:before {
      $size: 24px;
      background: image_url("warning.svg") center no-repeat;
      content: "";
      display: block;
      height: $size;
      left: -1.5 * $size;
      position: absolute;
      width: $size;
    }
  }

  &-search {
    @include fill-parent;
    height: $actions-height;
  }

  &-list {
    margin-bottom: $base-spacing * 2;
  }

  &-actions {
    @include fill-parent;
    height: $actions-height;
    text-align: right;

    a {
      @include button;
    }

    form,
    select {
      display: inline-block;
    }
  }
}

.button {
  @include button;
}
