body {
  background-color: $base-background-color;
  background-color: #F2F2F2;
}

.content {
  @include outer-container;
  margin-top: 2 * $base-spacing;
  position: relative;
}

.hidden {
  display: none;
}

.sidebar-container {
  @include span-columns(3 of 12);
}

.main {
  @include span-columns(9 of 12);
  @include omega;
}
