div {
  display: block;
  float: left
}

#organizations {
  padding-left: 20px;
  width: 60%;
  font-size: 12px;
}

#organizations p{
  margin: 0;
}

#organization-content {
  width: 40%;
  clear: both;
}