#wrapper {
  width: 100%;
  margin: 0 auto;
}
#organizations, #organization-content {
  float: left;
}
#organizations {
  width: 30%;
}

#organization-content {
  width: 70%;
}

#bottom-links {
  clear: both;
}