.organization {
  $actions-height: 3 * $base-spacing;

  &-sidebar {
    @include span-columns(3 of 12);
    min-height: 600px;
  }

  &-listing {
    $listing-height: 2 * $base-spacing;
    padding: $base-spacing/2 0;
    position: relative;

    &:not(:last-child) {
      border-bottom: $base-border;
    }

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  &-invalid {
    &:before {
      $size: 24px;
      background: image_url("warning.svg") center no-repeat;
      content: "";
      display: block;
      height: $size;
      left: -1.5 * $size;
      position: absolute;
      width: $size;
    }
  }

  &-search {
    @include fill-parent;
    height: $actions-height;
  }

  &-main {
    @include omega;
    @include span-columns(9 of 12);
  }

  &-actions {
    @include fill-parent;
    height: $actions-height;
    text-align: right;

    a {
      @include button;
    }
  }

  &-details {
    @include padding($base-spacing);
    @include span-columns(9 of 12);
    border: $base-border;
    bottom: 0;
    position: absolute;
    top: $actions-height;
  }
}
