@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "layout";

// Variables
$black: #000;
$grey: #ddd;
$green: #49ba81;

$alert: #de1b31;
$error: #de1b31;
$notice: #000;
$success: #2adc55;

.nav {
  border-bottom: solid 1px $grey;
  box-shadow: 0 0 1px $black;
}

.menu {
  @include outer-container(68em);
  list-style-type: none;

  .menu-link {
    @include span-columns(2);

    font-size: 1.3em;
    font-weight: bold;
    margin: 0.5em 0;    
  }   
}

.flashes {
  @include outer-container(68em);

  .flash-alert {
    border: solid 1px $alert;
  }

  .flash-error {
    border: solid 1px $error;
  }

  .flash-notice {
    border: solid 1px $notice;
  }

  .flash-success {
    border: solid 1px $success;
  }

  .flash-alert,
  .flash-error,
  .flash-notice,
  .flash-success {
    border-radius: 2px;
    margin: 0.5em 0;
    padding: 0.5em;
  }
 }
