@import "application";

$white: #fff;

.hero {
	h1 {
    font-size: 5em;
		margin-top: 0.5em;
		text-align: center;
	}
}

.row {
	@include outer-container(68em);

	div {
		@include span-columns(3);
	} 
}

