<div class="organization-list">
<% @organizations.each do |organization| %>
  <div class="organization-summary organization-summary--<%=organization.valid_status%>">
    <%= link_to(
      organization.name,
      organization,
      remote: true,
      class: "organization-summary__details-link",
    ) %>
    <%= link_to(
      organization.url,
      organization.url,
      class: "organization-summary__url",
    ) %>
  </div>
<% end %>
</ul>
