<div class="sidebar organization-sidebar">
  <div class="organization-search">
    <input id="search" type="search" />
  </div>

  <div class="organization-tags">
    <h2>Tags</h2>
    <%= render @tags %>
  </div>
</div>
