<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="navigation-link"><%= link_to "Organizations", organizations_path %></li>
        <li class="navigation-link"><%= link_to "Import organizations", new_import_path %></li>

        <% if admin_signed_in? %>
          <li class="navigation-link">
            <%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="navigation-link">
            <%= link_to "Sign in", new_admin_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
